.chat-side
  .side-header
    .side-box
      .side-box__logo
        masa
      .side-box_menu
      .side-box_menu__logo
        <i class="far fa-edit"></i>
        <i class="fas fa-cog"></i>
  .groups
    .groups-box1
    .groups-box2
      .groups-box2__logo
        techcamp
    .groups-box3
    .groups-box4
      .groups-box4__logo
        まだメッセージはありません



